<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>t.znkvz.fgrcnabss@tznvy.pbz</string>
	<key>contactName</key>
	<string>IamMaxim</string>
	<key>description</key>
	<string>The "true" OOP language. Let's make OOP great again!</string>
	<key>name</key>
	<string>EO</string>
	<key>uuid</key>
	<string>AF21BD75-31D3-4491-9036-1D8BB8E65C5A</string>
</dict>
</plist>
